<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Samuel Moreno is a Mexican economist and financial analyst with degrees in Economic Theory and Finance, Technology and Policy. Explore his website for insights on his research, projects, blog posts, and curated resources.">
    <meta name="keywords" content="Samuel Moreno Santoyo, Samuel Gregorio, GregSom, Financial Analysis, Fintech, Data Science, Economics, artificial inteligence, tech, LLM, AI, ML, machine learning, Policy, Research, Blog, Projects, Papers, Books, Gadgets, Code, Knowledge Base, contact, Resources">
    <meta name="author" content="Samuel Moreno">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Samuel Moreno",
      "url": "{{ site.url }}",
      "jobTitle": "Financial Analyst with Business and Data Expertise",
      "mainEntityOfPage": "{{ site.url }}"
    }
  </script>
    <meta property="og:title" content="Samuel Moreno - Personal Webpage - Finance, Technology & Policy">
    <meta property="og:description" content="Explore Samuel Moreno's insights on finance, technology, and policy.">
    <meta property="og:image" content="{{ '/assets/Images/preview-image.jpg' | relative_url }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Samuel Moreno Santoyo - Finance, Technology & Policy - GregSom">
    <meta name="twitter:description" content="Explore Samuel Moreno's personal webpage on finance, economics, technology, and policy. Includes several academic resources.">
    <meta name="twitter:image" content="{{ '/assets/Images/favicon.ico' | relative_url }}">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/Images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>
<body>

    <header class="site-header">
        
        <div class="header-background"></div>
        <div class="profile-container">
            <img src="{{ '/assets/Images/yopo2024.jpg' | relative_url }}" alt="Profile Picture of Samuel Moreno" class="profile-picture">
            <h1>Samuel Moreno</h1>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ site.baseurl }}/" id="home-link">Home</a></li>
                <li><a href="{{ site.baseurl }}/research" id="research-link">Research</a></li>
                <li><a href="{{ site.baseurl }}/blog" id="blog-link">Blog</a></li>
                <li><a href="{{ site.baseurl }}/contact" id="contact-link">Contact</a></li>
                <li><a href="{{ site.baseurl }}/about" id="about/index-link">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <!-- Footer Section -->
    <footer class="site-footer">
        <div class="social-links">
            <a href="https://www.linkedin.com/in/samuelgmoreno/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://discord.gg/GUAfWtw5" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i></a>
            <a href="https://github.com/GregSom-MSc" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </div>
        <div class="footer-disclaimer">
            <p>&copy; 2025 Samuel Moreno Santoyo. All rights reserved.</p>
            <p>This website is for educational purposes only. The information provided is not intended as legal, financial, or professional advice.</p>
        </div>
    </footer>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the current page URL path
            let currentPath = window.location.pathname;
    
            // Select all navigation links
            let navLinks = document.querySelectorAll(".site-nav a");
    
            // Loop through links and check for matches
            navLinks.forEach(link => {
                if (link.getAttribute("href") === currentPath) {
                    link.classList.add("active");
                }
            });
        });
    </script>

    
</body>
</html>
