<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="site-header">
        <div class="header-background"></div>
        <div class="profile-container">
            <img src="{{ '/assets/Images/yopo2024.jpg' | relative_url }}" alt="Samuel Moreno" class="profile-picture">
            <h1>Samuel Moreno</h1>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/research">Research</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/about">About Me</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <!-- Footer Section -->
    <footer class="site-footer">
        <div class="social-links">
            <a href="https://www.linkedin.com/in/samuelgmoreno/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://discord.gg/GUAfWtw5" target="_blank"><i class="fab fa-discord"></i></a>
        </div>
        <div class="footer-disclaimer">
            <p>&copy; 2024 Samuel Moreno. All rights reserved.</p>
            <p>This website is for educational purposes only. The information provided is not intended as legal, financial, or professional advice.</p>
        </div>
    </footer>
</body>
</html>
